@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f1f5f9;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}
